.newLoc {
    color: #B51F59;
}

input {
    width: 82%;
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid #F9A31A;
}

.button4 {
    background-color: #B51F59;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    width: 150px;
    font-family: 'Oswald';
    font-size: 18px;
    border: none;
	float: right;
	margin-top:20px;
}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #f39c12;
    background: #fff;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}


/* Custom Select */

.select {
    position: relative;
    display: flex;
    width: 84%;
    background: #f39c12;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
}




/* Transition */

.select:hover::after {
    color: #f39c12;
}